# Beware: only known to work on DreamHost shared hosting.

load "deploy"

set :application, "tablr"
set :rails_env, "production"

default_run_options[:pty] = true

set :user, "your_username_here"
set :domain, "your_domain_here"

set :repository, "git://github.com/toddmazierski/tablr.git"
set :deploy_to, "/home/#{user}/#{domain}"

set :deploy_via, :remote_cache
set :scm, "git"
set :branch, "master"
set :git_shallow_clone, 1
set :scm_verbose, true
set :use_sudo, false

server domain, :app, :web

after "deploy:update_code", "bundler:install"

namespace :bundler do
  task :install do
    run "cd #{release_path} && bundle install --local"
  end
end

namespace :deploy do
  task :restart do
    run "touch #{current_path}/tmp/restart.txt"
  end
end
