<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>tablr</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33027222-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function(){
            $('form').validate({
                rules: {
                    input: {
                        required: true
                    }
                },
                messages: {
                    input: 'this field is required',
                },
                submitHandler: function(form) {
                    $('div.output').replaceWith('<div class="output loading" />');
                    $.ajax({
                        type: 'POST',
                        url: '/convert',
                        data: $(form).serialize(),
                        success: function(result){
                            $('div.output').replaceWith(result);
                        },
                        error: function(result){
                            $('div.output').replaceWith('<div class="output error">sorry, an error occurred!</div>');
                        },

                    });
                }
            });
            var example = 'foo,bar,baz\n1,2,3\n4,5,6\n\n7,8,9';
            $('textarea[name^="input"]').val(example);
            $('textarea[name^="input"]').focusin(function() {
                if ( this.value == example ) {
                    this.value = '';
                }
            });
        });
    </script>
    <div class="tablr">
        <h2>tablr</h2>
        <div id="description">
          <ul>
            <li>converts comma, tab, or pipe delimited text to an ASCII table</li>
            <li>replaces blank rows with separators</li>
            <li><a href="https://github.com/toddmazierski/tablr" target="_blank">source</a></li>
          </ul>
        </div>
        <form method="post">
            <p>
                <input type="radio" name="delimiter" id="comma" value="," checked="checked" />
                <label for="comma">comma</label>
                <input type="radio" name="delimiter" id="tab" value="&#09;" />
                <label for="tab">tab</label>
                <input type="radio" name="delimiter" id="pipe" value="|" />
                <label for="pipe">pipe</label>
                <br />
                <input type="checkbox" name="headers" id="headers" checked="checked" />
                <label for="headers">first row is header</label>
            </p>
            <textarea name="input" rows="8" cols="80"/></textarea>
            <p>
                <button name="convert" type="submit" accesskey="c"><u>c</u>onvert</button>
            </p>
        </form>
        <div class="output">
        </div>
    </div>
</body>
</html>