body {
    font-family: sans-serif;
    font-size: small;
}

div.loading {
    height: 16px;
    width: 16px;
    background-image: url('../images/ajax-loader.gif')
}

#description {
    font-size: small;
    font-style: italic;
}

.error {
    color:red;
}